# Tuples

In [3]:
# ordered , unchangeable , allows duplicate data structures
mytuple=(2,1,4,4)
print(mytuple)
help(len)

(2, 1, 4, 4)
Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [6]:
oneitemtuple=(1,)
nottuple=(2)
print(oneitemtuple)
print(nottuple)
print(type(oneitemtuple))
print(type(nottuple))
# i note that , if the comma at the end is not there with single item, then this is not considered as tuple. else it is tuple

# tuple can be formed using  tuple( ) keyword. note the paranthesis inside, 
customtuple=tuple(1,2,3) # this is wrong , we need to give double paranthesis 
customtuple1=tuple((1,2,3))

(1,)
2
<class 'tuple'>
<class 'int'>

TypeError: tuple expected at most 1 argument, got 3

# Access tuple

In [14]:
# tuple can be accessed using index like list 
print(mytuple[2])
# tuple can also be accessed using range of index  , notice the last comma being displayed here
print(mytuple[2:3])
# negative indexing is also possible 
print(mytuple[-3])

4
(4,)
1

# Add items

In [4]:
# items cannot be added to tuple directly as they are immutable, but a tuple can be added to a tuple . 
# we can convert a tuple to a list and then add to list and convert back to tuple 

t = tuple (( 1,3,5))

l = list(t) 
l.append(6)

t = tuple(l)

print(t )

(1, 3, 5, 6)

# Remove Items

In [5]:
# as tuples are immutalbe, we have to convert back to list , remove item and then convert to tuple 

t = tuple((1,2,3))

l = list(t)
l.remove(3)

t = tuple(l)

print(t)

(1, 2)

# Unpacking

In [10]:
#  we can unpack the values from tuple into variables 
fruit = ( 'apple', 'mangoe', ' strawberry', ' bananae ', 'cherry')
(f1,f2,f3,f4,f5) = fruit 
print( f1, f5 )

# if the variable is less than tuple value, the use asterik to unpack it as list 

(f1, *f2) = fruit
print(f2)

(f1, *f2,f5) = fruit
print( f1,f2,f5)

apple cherry
['mangoe', ' strawberry', ' bananae ', 'cherry']
apple ['mangoe', ' strawberry', ' bananae '] cherry

# Loop tuples

In [13]:
# Using for and while we can loop through tuple 
t = ( 1,2,3,4,5) 

for x in range(len(t)):
    print(t[x])
    

count = 0 

while count < len(t):
    print( t[count])
    
    # increement the variable or you will land up infinite loop as i did 
    count = count + 1

1
2
3
4
5
1
2
3
4
5

# join tuples

In [15]:
t1 = (1,2,3)
t2 = ( 'a','b','c')
tr = t1+ t2 

print( tr)

#multiply tuple 

tr = t1+ 2*t2
print(tr)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 'a', 'b', 'c', 'a', 'b', 'c')

# tuple inbuilt methods

In [19]:
#count() returns the count of occuranceof a number 

t = ( 1,2,3,1)
print( t.count(1))

# index returns the index of  number 
print(t.index(3))

2
2