# Session 3 Exercises Notebook

Each time you are given a programming exercise in session 3, you should complete it in this notebook. The sections are numbered and the instructions are given here in the notebook.

## 3.3 Lists

## Creating a list
In the box below, write the Python code to create a list containing 10 types of animals. We will use this list for manipulation in the rest of this exercise.

In [106]:
from pprint import pprint

In [107]:
# creating a list of animals 
animals_list = ['Tiger','Elephant','Cat','Dog','Cheetah','Donkey','Leopard','Cow','Bear','Panther']
pprint(animals_list)

['Tiger',
 'Elephant',
 'Cat',
 'Dog',
 'Cheetah',
 'Donkey',
 'Leopard',
 'Cow',
 'Bear',
 'Panther']

###Indexing - In this section, you will access data in your list via indexing in a number of ways.

Try printing the second item in the list of animals. Check to make sure the output is what you expected.

In [2]:
# index starts from 0 , so to print 2nd item, the index is 2-1 = 1 
print(animals_list[1])

Elephant

Print the entire list, except the first and last elements.

In [16]:
# to print the entire list except first and last element 
# we can use the range operator 
print(animals_list[1:len(animals_list)-1])



# to print entire list except first and last element, we can use range to print  from 1 till length 
# if we do not give a end value then all elements from starting till end will be printed
print(animals_list[1:])

['Elephant', 'Cat', 'lion', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear']
['Elephant', 'Cat', 'lion', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear', 'Panther']

In [8]:
# we can also print from 1st till end using another way. instead of leaving the end range as blank, we can use 
# the len() function to get the length of the list
print(animals_list[1:len(animals_list)])
print(len(animals_list))
# the reason len( ) does not give error is that the last index is ignored 
# so animals_list[len(animals_list)] does give error but using it in range will not give error

['Elephant', 'Cat', 'Dog', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear', 'Panther']
10

Choose one of the animal names on your list and programmatically find and print its index.

In [23]:
# i want to find Dog 
if 'Dog' in animals_list:
    print(animals_list.index('Dog'))
    
    
print(animals_list.index('Donkey'))

7

Change the animal found at index 3 to "lion" and print the list to see if it worked.

In [13]:
# update the index element to lion 
animals_list[3]='lion'
print(animals_list)

['Tiger', 'Elephant', 'Cat', 'lion', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear', 'Panther']

Print animals at indexes 0,2,4,6,8 in the list - this might seem a little trickier, but remember that you can index in steps!

In [14]:
for i in range(0,10,2):
    print(animals_list[i])

Tiger
Cat
Cheetah
Leopard
Bear

## Adding and Removing items from your list

Add another animal to the end of your list.

In [18]:
animals_list.append('Crow')
print(animals_list)

['Tiger', 'Elephant', 'Cat', 'lion', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear', 'Panther', 'Crow']

Add another animal to your list, but this time, add it at the second index.

In [20]:
animals_list.insert(2,'Monkey')
print(animals_list)

['Tiger', 'Elephant', 'Monkey', 'Monkey', 'Cat', 'lion', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear', 'Panther', 'Crow']

Create a new list containing 3 new animals and add it to the end of your original list.

In [25]:
new_animals_list = ['Crow','Swan','Peacock']
updated_list = (animals_list + new_animals_list)

Remove one of the animals by index, and remove another by value.

In [29]:
updated_list.remove('Swan')
updated_list.pop(2)

'Monkey'

Remove the first two animals using a slice.

In [32]:
del updated_list[0:2]

In [33]:
print(updated_list)

['lion', 'Cheetah', 'Donkey', 'Leopard', 'Cow', 'Bear', 'Panther', 'Crow', 'Crow', 'Peacock']

## 3.4 Tuples


Create a tuple and a list containing `1,2,3,4`
See what happens if you add an element with the value `2` to each of them. As you won't be able to update the tuple, you will need to create a new one with `(1,2,2,3,4)`.

In [42]:
t = ( 1,2,3,4)
lst = [1,2,3,4]
print( t+ (2,))
print(lst+[2])

(1, 2, 3, 4, 2)
[1, 2, 3, 4, 2]

Create a new tuple called tuple_a containing 5,2,3,7 and another tuple caled tuple_b containing 6,21,2. Create a new variable that contains the sum of the first value in tuple_a, and the last value of tuple_b.

In [44]:
tuple_a = (5,2,3,7)
tuple_b = ( 6,21,2) 
new_var = tuple_a[0] + tuple_b[-1]
print(new_var)

7

Data structures in python can be 'nested'. This means that each item in a tuple can be another tuple. Try making a new tuple called tuple_c that contains tuple_a and tuple_b as its elements.

In [47]:
tuple_c = tuple(( tuple_a ,tuple_b))
print(tuple_c)

((5, 2, 3, 7), (6, 21, 2))

Using referencing, access "dog" in the following nested tuple

In [50]:
pets = (("cat","dog","rabbit"),(200,500,35))

In [53]:
print(pets[0][1])

dog

Create a new *list* containing 3 *tuples*. Each tuple should represent a record of book - each record should consist of a title, author, and publisher.

In [55]:
book_1 = ('Title a','Autho a', 'publisher a ')
book_2 = ('Title b','Autho b', 'publisher b ')
book_3 = ('Title c','Autho c', 'publisher c ')
list_tuple = [book_1,book_2,book_3]

Now, try removing the second book, and a new one. Did it work? Why?

In [57]:
print(list_tuple)
del list_tuple[1]

[('Title a', 'Autho a', 'publisher a '), ('Title b', 'Autho b', 'publisher b '), ('Title c', 'Autho c', 'publisher c ')]

In [58]:
print(list_tuple)

[('Title a', 'Autho a', 'publisher a '), ('Title c', 'Autho c', 'publisher c ')]

 Given that the entries are a tuples, you can't alter the title of the last book. Instead, you will have to replace it with a new one. Try this below.

In [60]:
list_tuple[1]= tuple(('Title d','Author d', ' publisher d '))
print(list_tuple)

[('Title a', 'Autho a', 'publisher a '), ('Title d', 'Author d', ' publisher d ')]

## 3.5 Sets

Define two sets. The first should contain the values 'Cat', 'Dog', 'Pig', 'Cow' and the second should contain the values 'Cat', 'Cow', 'Rat', 'Fish'.

In [68]:
st1 = { 'Cat', 'Dog', 'Pig', 'Cow'}
st2 = { 'Cat', 'Cow', 'Rat', 'Fish'}

Combine these two sets into one set, so that it only contains unique values.

In [62]:
unique_set = st1.union(st2)
print(unique_set)

{'Dog', 'Cow', 'Pig', 'Fish', 'Cat', 'Rat'}

Now create another set that contains only the values that exist in both sets.

In [63]:
print(st1.intersection(st2))

{'Cat', 'Cow'}


Remove 'Cat' from the first set and then add 'Goat'.

In [71]:
st1.remove('Cat')
print(st1)

KeyError: 'Cat'

In [74]:
print(st1,st2)

{'Dog', 'Cow', 'Pig', 'Goat'} {'Cat', 'Rat', 'Cow', 'Fish'}

In [73]:
st1.add('Goat')

Calculate the new intersection between the updated first set, and the second set. What is the intersection now? Why has it changed?

In [75]:
print(st1.intersection(st2))

{'Cow'}

# 3.6 Dictionaries

Create a dictionary object that represents the data that you might record from a single customer making a purchase in a store. This should include their first name, second name, age, and a list of products they have purchased. Each one of these products should be another dictionary containing the name of the product  and price they paid for it. Make up keys and values as you like, and include at least 3 products.

In [110]:
cust_dict =  {
            'basic_info':{'f_name':'Rajesh','l_name':'Subramanian','age':40,},
            'products': [{'name':'Clothes','price':30},{'name':'Toiletries','price':50 }, {'name':'Essentials','price':60},{'name':'Books','price':90}]
        }
    
    
 
    
      

pprint(cust_dict)

{'basic_info': {'age': 40, 'f_name': 'Rajesh', 'l_name': 'Subramanian'},
 'products': [{'name': 'Clothes', 'price': 30},
              {'name': 'Toiletries', 'price': 50},
              {'name': 'Essentials', 'price': 60},
              {'name': 'Books', 'price': 90}]}

Print all the keys in the customer's record

In [88]:
print(cust_dict.keys())

dict_keys(['basic_info', 'products'])

Print all the values in the customer's record

In [108]:
pprint(cust_dict.values())

dict_values([{'f_name': 'Rajesh', 'l_name': 'Subramanian', 'phone': 123}, [{'name': 'Clothes', 'price': 30}, {'name': 'Toiletries', 'price': 50}, {'name': 'Essentials', 'price': 60}, {'name': 'Books', 'price': 90}]])

Print the names of each product that they purchased.

In [90]:
for product in cust_dict['products']:
    print(product['name'])

Clothes
Toiletries
Essentials
Books

Create a new variable containing the customer's total bill.

In [92]:
sum([product['price'] for product in cust_dict['products']])

230


Add a new field to contain the customers phone number and remove the entry containing the customers age

In [95]:
cust_dict['basic_info'].pop('age')

KeyError: 'age'

In [96]:
cust_dict['basic_info'].update({'phone':123})

In [97]:
print(cust_dict)

{'basic_info': {'f_name': 'Rajesh', 'l_name': 'Subramanian', 'phone': 123}, 'products': [{'name': 'Clothes', 'price': 30}, {'name': 'Toiletries', 'price': 50}, {'name': 'Essentials', 'price': 60}, {'name': 'Books', 'price': 90}]}

## 3.7 Choosing the right structure

In the following examples, describe which data structure you would use, and if nesting different types of structures would be more appropriate. Elaborate on your choices.

### 3.7.1 - Grocery Store Inventory
You are a small grocery store owner, and you want to record all of your stock. You sell 100 types of products, with names, suppliers, etc. You also need to keep a record of how much you paid for your produce, and how many you have left in stock.

---Enter your answer here---

i would choose dict of dict. the outer dict will contain product code as key and the value will be another dict containing, name, supplier code, price paid, inv stock count

In [105]:

store_inv = { 'prodct_code1':{ 'name':'product1','supplier_code':'code1','price_paid':100,'inv_stock':10}}
pprint(store_inv)

{'prodct_code1': {'inv_stock': 10,
                  'name': 'product1',
                  'price_paid': 100,
                  'supplier_code': 'code1'}}

### 3.7.2 - Digital Encyclopedia
 You have been asked to make an encyclopedia where customers can look up a key word and find the encylopedia entry that describes it.

---Enter your answer here---

dict will be perfect candidate for encyclopedia  with key as a word and value as the description

In [111]:
ency = {'word':'meaning','word2':'meaning2'}
pprint(ency)

{'word': 'meaning', 'word2': 'meaning2'}

### 3.7.3 - Bird Watching Diary
You are a very keen bird watcher and want to keep a record of which birds you have seen. You want to keep a record of each species, and each unique location you have seen it.

---Enter your answer here---

In [ ]:
we can choose dict with bird species name and key and a set a value .
the set will contain unique location where it was seen

In [112]:
bird_diary = {'Mangoose':{'location':{'NY','India'}}}
pprint(bird_diary)

{'Mangoose': {'location': {'India', 'NY'}}}

### 3.7.4 - Family Tree

  You have been tasked with creating a data structure that contains a customer's family tree. Each record should contain a person's name, date of birth, and the person's parents, siblings, and children.

---Enter your answer here---

In [ ]:
the data structure can be a list with dict as inner structure
dict will contain 
name
dob
parents - this will be list 
siblings - this will be list
children - this will be list

In [120]:
family_tree = { 'name':'Rajesh','dob':'Dec 27', 'parents':[{'name':'Subramanian','dob':'Apr 21'},{'name':'Gangalakshmi','dob':'Mar 20'}],
              'siblings':['Geetha'],
              'children':['Nishesha','Vishwesh'],
              'spouse':{'name':'Iswarya','dob':'Mar 22'}
              }

pprint(family_tree)

{'children': ['Nishesha', 'Vishwesh'],
 'dob': 'Dec 27',
 'name': 'Rajesh',
 'parents': [{'dob': 'Apr 21', 'name': 'Subramanian'},
             {'dob': 'Mar 20', 'name': 'Gangalakshmi'}],
 'siblings': ['Geetha'],
 'spouse': {'dob': 'Mar 22', 'name': 'Iswarya'}}